.idea/
.build/
cpp_00/ex00/megaphone
cpp_00/ex01/phonebook
cpp_00/ex02/account
cpp_01/ex00/zombie
cpp_01/ex01/horde
cpp_01/ex02/brain
cpp_01/ex03/violence
cpp_01/ex04/sed
cpp_02/ex00/fixed
cpp_02/ex01/fixed
cpp_02/ex02/fixed
cpp_02/ex03/bsp
cpp_03/ex00/claptrap
cpp_03/ex01/scavtrap
cpp_03/ex02/fragtrap
cpp_03/ex03/diamondtrap
cpp_04/ex00/animal
cpp_04/ex01/animal
cpp_04/ex02/animal
